In [9]:
import pandas as pd

In [10]:
file_path = (r"C:\Users\adaiu\OneDrive\Desktop\Analysis Projects\Electric-Car-Data-Analysis\Resources\Income\BEA City Income 2018-2020.xlsx")
bea_city_income_df = pd.read_excel(file_path)
bea_city_income_df.head()

,"Table 2. Per Capita Personal Income, by Metropolitan Area, 2018–2020",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,Per capita personal income1,NaN,NaN,NaN,Percent change from preceding period,NaN,NaN
1,NaN,Dollars,NaN,NaN,Rank in United States,Percent change,NaN,Rank in United States
2,NaN,2018,2019.0,2020.0,2020,2019,2020.0,2020
3,United States,54098,56047.0,59510.0,--,3.6,6.2,--
4,Metropolitan portion,56179,58196.0,61674.0,--,3.6,6.0,--