In [14]:
import pandas as pd

In [15]:
file_path = (r"C:\Users\adaiu\OneDrive\Desktop\Analysis Projects\Electric-Car-Data-Analysis\Resources\EVs\EvsLightDutyDetails.csv")
light_duty_details_df = pd.read_csv(file_path)
light_duty_details_df.head()

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Category ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Manufacturer,Manufacturer URL,Category,Fuel Code,Fuel,Fuel Configuration Name,Electric-Only Range,PHEV Type,Notes,Drivetrain
0,13044,45,9.0,365,27,NSX,2022,NaN,NaN,NaN,...,Acura,http://www.acura.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,AWD
1,12854,45,9.0,377,27,A3,2022,NaN,NaN,NaN,...,Audi,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,FWD
2,12842,45,9.0,377,27,A3 quattro,2022,NaN,NaN,NaN,...,Audi,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,AWD
3,12783,45,9.0,377,27,A4 allroad quattro,2022,NaN,NaN,NaN,...,Audi,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,AWD
4,12782,45,9.0,377,27,A4 quattro,2022,NaN,NaN,NaN,...,Audi,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,AWD

In [16]:
light_duty_details_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1439 entries, 0 to 1438
Data columns (total 28 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Vehicle ID                          1439 non-null   int64
 1   Fuel ID                             1439 non-null   int64
 2   Fuel Configuration ID               1406 non-null   float64
 3   Manufacturer ID                     1439 non-null   int64
 4   Category ID                         1439 non-null   int64
 5   Model                               1439 non-null   object
 6   Model Year                          1439 non-null   int64
 7   Alternative Fuel Economy City       565 non-null    float64
 8   Alternative Fuel Economy Highway    474 non-null    float64
 9   Alternative Fuel Economy Combined   335 non-null    float64
 10  Conventional Fuel Economy City      927 non-null    float64
 11  Conventional Fuel Economy Highway   932 non-null    float64
 12  Conventional Fuel Economy Combined  573 non-null    float64
 13  Transmission Type                   1397 non-null   object
 14  Engine Type                         1172 non-null   object
 15  Engine Size                         1351 non-null   object
 16  Engine Cylinder Count               1002 non-null   float64
 17  Engine Description                  1142 non-null   object
 18  Manufacturer                        1439 non-null   object
 19  Manufacturer URL                    1287 non-null   object
 20  Category                            1439 non-null   object
 21  Fuel Code                           1439 non-null   object
 22  Fuel                                1439 non-null   object
 23  Fuel Configuration Name             1406 non-null   object
 24  Electric-Only Range                 359 non-null    float64
 25  PHEV Type                           169 non-null    object
 26  Notes                               22 non-null     object
 27  Drivetrain                          255 non-null    object
dtypes: float64(9), int64(5), object(14)
memory usage: 314.9+ KB

In [17]:
light_duty_details_df.columns

Index(['Vehicle ID', 'Fuel ID', 'Fuel Configuration ID', 'Manufacturer ID',
       'Category ID', 'Model', 'Model Year', 'Alternative Fuel Economy City',
       'Alternative Fuel Economy Highway', 'Alternative Fuel Economy Combined',
       'Conventional Fuel Economy City', 'Conventional Fuel Economy Highway',
       'Conventional Fuel Economy Combined', 'Transmission Type',
       'Engine Type', 'Engine Size', 'Engine Cylinder Count',
       'Engine Description', 'Manufacturer', 'Manufacturer URL', 'Category',
       'Fuel Code', 'Fuel', 'Fuel Configuration Name', 'Electric-Only Range',
       'PHEV Type', 'Notes', 'Drivetrain'],
      dtype='object')

In [18]:
light_duty_details_df = light_duty_details_df[['Model Year','Model','Manufacturer','Manufacturer ID','Vehicle ID','Category',
                                               'Fuel','Fuel ID','Transmission Type', 'Engine Description',]]

light_duty_details_df.head()

,Model Year,Model,Manufacturer,Manufacturer ID,Vehicle ID,Category,Fuel,Fuel ID,Transmission Type,Engine Description
0,2022,NSX,Acura,365,13044,Sedan/Wagon,Hybrid Electric,45,Auto,3.5L V6
1,2022,A3,Audi,377,12854,Sedan/Wagon,Hybrid Electric,45,Auto,2.0L I4
2,2022,A3 quattro,Audi,377,12842,Sedan/Wagon,Hybrid Electric,45,Auto,2.0L I4
3,2022,A4 allroad quattro,Audi,377,12783,Sedan/Wagon,Hybrid Electric,45,Auto,2.0L I4
4,2022,A4 quattro,Audi,377,12782,Sedan/Wagon,Hybrid Electric,45,Auto,2.0L I4

In [19]:
light_duty_details_df.drop(light_duty_details_df.loc[light_duty_details_df["Model Year"] < 2010].index, inplace = True)
light_duty_details_df.head()

,Model Year,Model,Manufacturer,Manufacturer ID,Vehicle ID,Category,Fuel,Fuel ID,Transmission Type,Engine Description
0,2022,NSX,Acura,365,13044,Sedan/Wagon,Hybrid Electric,45,Auto,3.5L V6
1,2022,A3,Audi,377,12854,Sedan/Wagon,Hybrid Electric,45,Auto,2.0L I4
2,2022,A3 quattro,Audi,377,12842,Sedan/Wagon,Hybrid Electric,45,Auto,2.0L I4
3,2022,A4 allroad quattro,Audi,377,12783,Sedan/Wagon,Hybrid Electric,45,Auto,2.0L I4
4,2022,A4 quattro,Audi,377,12782,Sedan/Wagon,Hybrid Electric,45,Auto,2.0L I4

In [20]:
light_duty_details_df.dtypes

Model Year             int64
Model                 object
Manufacturer          object
Manufacturer ID        int64
Vehicle ID             int64
Category              object
Fuel                  object
Fuel ID                int64
Transmission Type     object
Engine Description    object
dtype: object

In [21]:
light_duty_details_df.rename(columns = {'Model Year':'Model_Year', 'Manufacturer ID':'ManufacturerID',
                                        'Vehicle ID':'VehicleID', 'Fuel ID':'FuelID', 'Transmission Type':'Transmission_Type',
                                        'Engine Description':'Engine_Description'}, inplace = True)
light_duty_details_df.head()

,Model_Year,Model,Manufacturer,ManufacturerID,VehicleID,Category,Fuel,FuelID,Transmission_Type,Engine_Description
0,2022,NSX,Acura,365,13044,Sedan/Wagon,Hybrid Electric,45,Auto,3.5L V6
1,2022,A3,Audi,377,12854,Sedan/Wagon,Hybrid Electric,45,Auto,2.0L I4
2,2022,A3 quattro,Audi,377,12842,Sedan/Wagon,Hybrid Electric,45,Auto,2.0L I4
3,2022,A4 allroad quattro,Audi,377,12783,Sedan/Wagon,Hybrid Electric,45,Auto,2.0L I4
4,2022,A4 quattro,Audi,377,12782,Sedan/Wagon,Hybrid Electric,45,Auto,2.0L I4

In [22]:
light_duty_details_df.sort_values(by=['Model_Year', 'Model', 'Manufacturer'], inplace=True)
light_duty_details_df.reset_index(inplace=True, drop= True)
light_duty_details_df.head()

,Model_Year,Model,Manufacturer,ManufacturerID,VehicleID,Category,Fuel,FuelID,Transmission_Type,Engine_Description
0,2010,Altima,Nissan,217,941,Sedan/Wagon,Hybrid Electric,45,Automatic,NaN
1,2010,Camry,Toyota,221,943,Sedan/Wagon,Hybrid Electric,45,Automatic,NaN
2,2010,Civic Hybrid,Honda,209,935,Sedan/Wagon,Hybrid Electric,45,Automatic,NaN
3,2010,Escalade Hybrid,Cadillac,231,946,SUV,Hybrid Electric,45,Automatic,NaN
4,2010,Escape Hybrid,Ford,219,945,SUV,Hybrid Electric,45,Automatic,NaN

In [23]:
filepath = (r"C:\Users\adaiu\OneDrive\Desktop\Analysis Projects\Electric-Car-Data-Analysis\Resources\EVs\Cleaned_datasets\EvsLightDutyDetails_Cleaned.csv")
light_duty_details_df.to_csv(filepath, index = False)